<div class="container">


    <div class="row">
        <!-- Stories -->
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <ul>
                        {{#each stories}}
                        <h2><a href="{{this.link}}" target="_blank"> {{this.title}} </a></h2>
                        <h6> {{this.date_updated}} </h6>
                        <p> {{this.summary}} </p>
                        <button type="button" class="addComment" data-toggle="modal" data-target="#commentModal{{this._id}}"
                            data-id={{this._id}}>Add/View Comment</button>
                        <hr>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    {{! Modal for Comments}}
    <div>
        {{#each stories}}
        {{>modal}}
        {{/each}}
    </div>

</div>